* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body { 
  font-family: sans-serif; 
  padding: 0;
  margin: 0;
  padding: 0px 6px;
}

/* ---- grid ---- */

.grid {
  max-width: 1320px;
  margin: 0px auto;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  padding: 6px;
  width: 100%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  width: 100%;
}

@media (min-width:320px)  { 
  .grid-sizer,
  .grid-item {
      width: 100%;
  }
}

@media (min-width:480px)  { 
  .grid-sizer,
  .grid-item {
      width: 50%;
  }
}

@media (min-width:960px)  { 
  .grid-sizer,
  .grid-item {
      width: 33.3%;
  }
}

.grid-item-count {
  position: relative;
  right: 0px;
  bottom: 20px;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 2px 5px;
  font-size: 12px;
}

.loading {
  margin: 16px 0px 10px 0px;
}

.loading {
  text-align: center;
}

.loading .block {
  height: 30px;
  display: inline-block;
  background-color: #ccc;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  margin: 0px 2px;
}

.loading .block:nth-child(1) {
  animation: loading-spin 1.2s ease-out infinite 0s;
}

.loading .block:nth-child(2) {
  animation: loading-spin 1.2s ease-out infinite 0.3s;
}

.loading .block:nth-child(3) {
  animation: loading-spin 1.2s ease-out infinite 0.6s;
}

@keyframes loading-spin {
  0% {
      opacity: .2;
      -webkit-transform: scale(1);
      transform: scale(1);
  }
  33% {
      opacity: 1;
      -webkit-transform: scale(1.35);
      transform: scale(1.35);
  }
  66% {
      opacity: .2;
      -webkit-transform: scale(1);
      transform: scale(1);
  }
  99% {
      opacity: .2;
      -webkit-transform: scale(1);
      transform: scale(1);
  }
  100% {
      opacity: .2;
      -webkit-transform: scale(1);
      transform: scale(1);
  }
}